:root {
	--logotipo: #1a1a1a;
	--profesion: #f2f2f2;
	--primario: #2e5fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', cursive;
	background-image: url('./../img/bg.jpg');
}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

main {
	width: 90%;
	margin: auto;
	max-width: 800px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logotipo {
	padding: 10px;
	border: 5px solid var(--logotipo);
	color: var(--logotipo);
}

.logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background-color: var(--logotipo);
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 36px;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logotipo:hover .subtitulo {
	background-color: var(--primario);
}

.texto-animado {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.texto-animado > div{
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .3s ease all;
}

.texto-animado > div.animacion {
transform: translateY(-100px);
}

.texto-animado > div span{
	font-size: 100px;
	font-weight: normal;
	line-height: 100px;
}

.texto-animado .segunda-linea{
	position: absolute;
	top: 100px;
}

@media screen and (max-width : 752px){
	.texto-animado > div span{
		font-size: 50px;
		line-height: 50px;
	}

	.texto-animado .segunda-linea{
		top:50px;
	}

	.texto-animado > div.animacion{
		transform: translateY(-50px);
	}

	.logotipo.subtitulo{
		font-size: 20px;
	}
}


/* POP UP REGISTRO */
	/* POPUP */
.overlay{
	background-color: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup{
	background-color: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	border-radius: 3px;
	font-family: 'Monserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 700px;
	opacity: 0;
	transition: .3s ease all;
	transform: scale(0.7);
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #BBBBBB;
	transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4{
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs{
	opacity: 0;
}

.popup form .contenedor-inputs input{
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .contenedor-boton .btn-submit{
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: var(--primario);
	border-radius: 3px;
	font-family: 'Monserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .contenedor-boton .btn-submit:hover{
	background: rgba(46,95,255,.5);
}

@media screen and (max-width : 752px){
	.popup {
		width: 90%;
	}
}

	/* ANIMACIONES */

.popup.active{
	opacity: 1;
	transform: scale(1);
}

.popup.active h3{
	animation: entradaTitulo 1s ease .5s forwards;
}

.popup.active h4{
	animation: entradaSubTitulo 1s ease .5s forwards;
}

.popup.active .contenedor-inputs{
	animation: entradaInputs 1s ease 1s forwards;
}

@keyframes entradaTitulo {
	from{
		transform: translateY(-25px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes entradaSubTitulo {
	from{
		transform: translateY(25px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}